mediapipe == 0.8.4
opencv-python == 4.6.0.66
tensorflow == 2.9.0
scikit-learn == 1.0.2
matplotlib == 3.5.1
protobuf<3.20,>=3.9.2



# pip install mediapipe==0.10.7 intead of 0.8.4
# pip install opencv-python
# pip install tensorflow-macos
# pip install scikit-learn
# pip install matplotlib

# pip install pandas
# pip install seaborn
# nned python 3.8
